<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatspp</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <h1>All chats</h1>
    <a href="/chats/new" class="newchat"><b>New Chat</b></a>
    <br/>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p><b>From: </b><%=chat.from%> </p>
            <p><b>To: </b><%=chat.to%> </p>
            <div class="msg">   
                <p><b>Msg:</b> <%=chat.msg%> </p>
            </div>
            <hr>
            <p><b>Time: </b><%=chat.created_at.toString().split(" ")[4]%>&emsp;<b>Date: </b><%=chat.created_at.toString().split(" ").slice(0,4).join("-")%></p>
            <form method="GET" action="/chats/<%=chat.id%>/edit">
                <button>Edit</button>
            </form>
        </div>
    <% } %>   
</body>
</html>

